@use "../../../styles/color";
@use "../../../styles/layout";

.sidebar {
  @include layout.size(100%, 70px, color.$black-11101d);
  @include layout.layoutChild("top-left");
  position: fixed;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 200px;
}
.sidebar .logo_details {
  @include layout.flex-align-center;
  height: 60px;
  position: relative;
}
.sidebar .logo_details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo_details .logo_name {
  color: color.$white-fff;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name {
  opacity: 1;
}
.sidebar .logo_details #btn {
  @include layout.layoutChild("center-vertical");
  right: 0;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo_details #btn {
  text-align: right;
}
.sidebar i {
  color: color.$white-fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav_list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: color.$white-fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar li a {
  @include layout.size(100%, 100%, color.$black-11101d);
  @include layout.flex-align-center;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar li a:hover {
  background: color.$white-fff;
}
.sidebar li a .links_name {
  color: color.$white-fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: color.$black-11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
