@use "../../styles/layout";
@use "../../styles/color";

.input_box {
  margin-bottom: 15px;
}
.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.input {
  caret-color: red;
  width: 500px;
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input:focus {
  border-color: red;
}


.error{ 
  margin-top: 5px;
  color: color.$pink-e22575;
}