@use "../layout";
@use "../color";

.home_page {
  display: flex;
}
.left {
  flex-grow: 5;
}

.right {
  width: 350px;
  flex-shrink: 1;
  flex-grow: 1;
}

.add_card {
  width: 300px;
  margin: auto;
  color: color.$white-fff;
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding: 7px 5px;
  border-radius: 5px;
  background: color.$blue-5584AC;
}

.add_card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.text_link span {
  width: 200px;
}

.card_list {
  @include layout.flex-align-center;
  margin-bottom: 20px;
}

.text_link {
  width: 270px;
  margin: 0 20px;
}
