$white-fff: #fff;
// black
$black-11101d: #11101d;
$black-1d1b31: #1d1b31;
$black-1f1c2e: #1f1c2e;
// gray
$gray-4a4a4a: #4a4a4a;
$pink-e22575: #e22575;
// blue
$blue-e4e9f7: #e4e9f7;
$blue-f3f6fd: #f3f6fd;
// green
$green-34c471:#34c471;
// red