.h1-56 {
  font-family: "SF Rounded Bold";
  font-size: 56px;
  line-height: 80px;
}

.h1-50 {
  font-family: "SF Rounded Bold";
  font-size: 50px;
  line-height: 80px;
}

.h2-40 {
  font-family: "SF Rounded Bold";
  font-size: 40px;
  line-height: 140%;
}

.h4-40 {
  text-transform: capitalize;
  font-family: "SF Rounded Bold";
  font-size: 40px;
  line-height: 140%;
}

.h3-32 {
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  font-family: "SF Rounded Bold";
  line-height: 140%;
}

.h4-28 {
  font-family: "SF Rounded Bold";
  font-size: 28px;
  line-height: 140%;
}

.h5-24 {
  font-family: "SF Rounded Bold";
  font-size: 24px;
  line-height: 30px;
}

.text-36 {
  font-family: "SF Rounded";
  font-size: 36px;
  line-height: 42px;
}

.text-32 {
  font-family: "SF Rounded";
  font-size: 32px;
  line-height: 48px;
}

.text-28 {
  font-family: "SF Rounded";
  font-size: 28px;
  line-height: 140%;
}

.text-24 {
  font-family: "SF Rounded";
  font-size: 24px;
  line-height: 140%;
}

.text-22 {
  font-family: "SF Rounded";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
}

.tag-20 {
  font-family: "SF Rounded Bold";
  font-size: 20px;
  line-height: 25px;
}

.tag-18 {
  font-family: "SF Rounded Bold";
  font-size: 18px;
  line-height: 25px;
}

.text-20 {
  font-family: "SF Rounded";
  font-size: 20px;
  line-height: 25px;
}

.text-18 {
  font-family: "SF Rounded";
  font-size: 18px;
  line-height: 25px;
}